<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csl.vhr.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csl.vhr.entity.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="depPath" property="depPath"/>
        <result column="enabled" property="enabled"/>
        <result column="isParent" property="isParent"/>
    </resultMap>

    <resultMap id="DepartmentWithChildren" type="com.csl.vhr.entity.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.csl.vhr.entity.Department"
                    select="getAllDepartmentByParentId" column="id"/>
    </resultMap>

    <select id="getAllDepartmentByParentId" resultMap="DepartmentWithChildren">
        SELECT id, name, parentId, depPath, enabled, isParent
        FROM department
        WHERE parentId = #{id}
    </select>

</mapper>
