<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csl.vhr.mapper.HrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csl.vhr.entity.Hr">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="HrWithRole" type="Hr" extends="BaseResultMap">
        <collection property="roles" ofType="Role">
            <id property="id" column="r_id"/>
            <result property="name" column="r_name"/>
            <result property="nameZh" column="r_nameZh"/>
        </collection>
    </resultMap>

    <select id="getHrByUsernameWithRole" resultMap="HrWithRole">
        SELECT h.id,
               h.name,
               h.phone,
               h.telephone,
               h.address,
               h.enabled,
               h.username,
               h.password,
               h.avatar,
               h.remark,
               r.id     r_id,
               r.name   r_name,
               r.nameZh r_nameZh
        FROM hr h
                 LEFT JOIN hr_role h_r ON h.id = h_r.hrid
                 LEFT JOIN role r ON h_r.rid = r.id
        WHERE h.username = #{username}
    </select>
</mapper>
